h1 {
   color: blue;
   font: 30px; 
   text-align: center;
}

h2 {
	color: red;
	font: 25px;
	text-align: center;

}

p{
	font-style: italic;
	font-family: sans-serif;
	line-height: 40px;
}

.flashy{
	color: red;
	font-style: italic;
}